<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="/static/scripts/search.js"></script>
  <link rel="stylesheet" href="/static/styles/home.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="container">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show">
          <button type="button" class="close" data-bs-dismiss="alert"> 
            &times;
          </button>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  </header>
  <main>
    <div class="navdiv">
      <div class="title">
        <h1><a>Movie Reviews</a></h1>
      </div>
      <div class="search-container">
        <input type="text" id="search-bar" class="search-bar" placeholder="Search...">
        <div id="search-results" class="search-results"></div>
      </div>
      <div class="registration">
        <a href="/"> Home </a>
        <a href="/register"> Register </a>
        <a href="/login"> Login </a>
        <a href="/logout"> Logout </a>
        {% if current_user.role == "admin" %}
          <a href="/admin"> Admin </a>
        {% endif %}
      </div>
    </div>
    <div class="Movies">
      <div id="ActionMovies" class="ActionMovies">
        <h2>Action Movies</h2>
        <div class="scroll-box-container">
          <div id="scroll-box-action" class="scroll-box">
          </div>
      </div>
      </div>
      <div id="ComedyMovies" class="ComedyMovies">
        <h2>Comedy Movies</h2>
        <div class="scroll-box-container">
          <div id="scroll-box-comedy" class="scroll-box">
          </div>
      </div>
      </div>
      <div id="RomanceMovies" class="RomanceMovies">
        <h2>Romance Movies</h2>
        <div class="scroll-box-container">
          <div id="scroll-box-romance" class="scroll-box">
          </div>
      </div>
      </div>
      <div id="WesternMovies" class="WesternMovies">
        <h2>Western Movies</h2>
        <div class="scroll-box-container">
          <div id="scroll-box-western" class="scroll-box">
          </div>
      </div>
      <div class="topMovies">

      </div>
    </div>
  </main>
</body>
</html>