<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/movie.css">
  <script src="/static/scripts/movie.js"></script>
  <title>{{movie_info['original_title']}}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body class="Background">
  <main>
    <div class="navdiv">
      <div class="title">
        <h1><a href="/">ADG Reviews</a></h1>
      </div>
      <div class="search-container">
        <input type="text" id="search-bar" class="search-bar" placeholder="Search Movies">
        <div id="search-results" class="search-results"></div>
      </div>
      <div class="registration">
        <a href="/"> Home </a>
        {% if current_user.is_authenticated %}
          {% if current_user.role == "admin" %}
            <a href="/admin"> Admin </a>
          {% endif %}
          <a href="/logout"> Logout </a>
          <a>{{current_user.email}}</a>
        {% else %}
          <a href="/login"> Login </a>
          {% if current_user.role == "admin" %}
            <a href="/admin"> Admin </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="Movies">
      <img src="https://image.tmdb.org/t/p/w500/{{movie_info['poster_path']}}" id="movie_poster" alt="Movie Poster">
      <div class="text-content">
        <div class="name">
          <h1>{{movie_info['original_title']}}</h1>
        </div>
        <div class="details">
          <h3>{{movie_info['release_date']}}</h3>
        </div>
        <div class="description">
          <p>{{movie_info['overview']}}</p>
        </div>
        <div id="reviews_div">
          <h2>User Reviews</h2>
          {% if reviews %}
            {% for review, user in reviews %}
              <p id="review_text">{{user.email.split('@')[0].upper()}} gave a rating of {{review.rating}} <br> &nbsp;&nbsp;&nbsp;&nbsp;- {{review.text}}</p>
              <br>
            {% endfor %}
          {% else %}
            <p id="review_text">No User Reviews Yet</p>
          {% endif %}
        </div>
      </div>
    </div>    

    <div id="review_Div">
      <form method="POST">
        <h1 id="review_header">Leave a Review</h1>
        {{form.hidden_tag()}}

        <div id="text_div">
          {{form.text(id="text_input")}}
        </div>

        <div id="submit_div">
          {{form.rating.label(id="rating_label")}}
          {{form.rating(id="rating_input")}}
          {{form.submit()}}
        </div>
      </form>
    </div>
  </main>
</body>
</html>